<!--creates custom container sizes.-->
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 960px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1160px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1490px;
    }
}
.container-small, .container-large {
    max-width: 100%;
}