body,html { 
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #454857;
  margin:0; 
  padding:0; 
  width:100%; 
  height:100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 3rem;
}

a {
  transition: all 0.2s;
  text-decoration: underline;
}

a:link {
  color: unset;
}

/* visited link */
a:visited {
  color: unset;
}

/* mouse over link */
a:hover {
  color: #999;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #999;
}

section {
  margin-bottom: 2rem;
  max-width: 80%;
}

h2 {
 text-align: center; 
}

#profile {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}

#header {
  text-align: center;
}

#about {
  width: 500px;
}

#twitter {
  width: 500px;
}
